.slot-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 40px;
  width: 800px;
  height: 500px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(0, 0, 0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.title {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
}

.slots {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.slot-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.balance {
  position: absolute;
  text-align: left;
  bottom: 20px;
  left: 20px;
  color: #ecf0f1;
  width: fit-content;
  font-size: 17px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.1s;
}

.play-button {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: #ecf0f1;
  width: 100px;
  font-size: 17px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #d35400;
  transition: all 0.1s;
}

.play-button:active {
  box-shadow: 0px 0px 0px #d35400;
  transform: translateX(-50%) translateY(4px);
}

.play-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
